server:
  port: 8000
spring:
  cloud:
    gateway:
      routes:
        - id: movie-service
          uri: http://localhost:9090/
          predicates:
          - Path=/apis/movies/**
        - id: rating-service
          uri: http://localhost:9091/
          predicates:
          - Path=/apis/ratings/**
        - id: booking-service
          uri: http://localhost:9092/
          predicates:
          - Path=/apis/customer-ratings/**,/apis/customer-movies/**